@model TrackingRace.ViewModels.SizeListViewModel
@Html.Partial("_Message")

<div class="d-inline-block">
    <h2>@ViewBag.Title</h2>
</div>

<div class="d-inline-block float-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn">Add</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Name</th>
            <th></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Sizes.Count; i++)
        {
            <tr>
                @*<td>@Model.Sizes[i].Id</td>*@
                <td>@Model.Sizes[i].Name</td>
                <td>@Model.Sizes[i].Acronym</td>
                <td>
                    <div class="float-right">

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="@Url.Action("Edit", new { id = Model.Sizes[i].Id })" class="btn btn-secondary btn-xs margin-right">
                                <span class="hidden-xs"> Edit</span>
                            </a>
                            @*<a href="@Url.Action("Detail", new { id = Model.Sizes[i].Id })" class="btn btn-secondary btn-xs margin-right">
                                <span class="hidden-xs"> Detail</span>
                            </a>*@

                            <a data-toggle="modal" href="@("#deleteSizeModal" + i)" class="btn btn-danger btn-xs margin-right">
                                <span class="hidden-xs"> Delete</span>
                            </a>
                        </div>
                        <div class="modal fade" id="@("deleteSizeModal" + i)" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @using (Html.BeginForm("Delete", "Size"))
                                    {
                                        <input type="hidden" value="@Model.Sizes[i].Id" name="Id" />
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete @Model.Sizes[i].Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete @Model.Sizes[i].Name?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>







